 {"data":[
 {"etape":"Recuperation boutique","codeCommande":"Com8","date":"2023-01-03 00:00",
 "produits":[
 {"idBoutique":2,"codeProduit":"rrME","boutique":{"id":2,"titre":"King Shop","codeBoutique":"boutiqueYam45","description":"description*****","localisation":{"ville":"Douala","longitude":9.7023,"latitude":4.0505}},"titre":"Iphone XR","prix":170,"quantite":2,"status":"En cours","photo":{"id":2,"src":"http://127.0.0.1:8000/images/produits/produitu87I2.png"}},
 {"idBoutique":1,"codeProduit":"N6SD","boutique":{"id":1,"titre":"Presta Shop","codeBoutique":"boutiqueopQ0O","description":"as","localisation":{"ville":"Douala","longitude":9.7023,"latitude":4.0505}},"titre":"AndroidW","prix":180000,"quantite":1,"status":"En cours","photo":{"id":5,"src":"http://127.0.0.1:8000/images/produits/produitFHmAD.png"}}]},
 {"etape":"Recuperation boutique","codeCommande":"Com10","date":"2023-01-07 00:00",
 "produits":[
 {"idBoutique":2,"codeProduit":"yQ4m","boutique":{"id":2,"titre":"King Shop","codeBoutique":"boutiqueYam45","description":"description*****","localisation":{"ville":"Douala","longitude":9.7023,"latitude":4.0505}},"titre":"Iphone XR","prix":170,"quantite":4,"status":"En cours","photo":{"id":2,"src":"http://127.0.0.1:8000/images/produits/produitu87I2.png"}}]},
 {"etape":"Recuperation boutique","codeCommande":"Com11","date":"2023-01-07 00:00",
 "produits":[
 {"idBoutique":2,"codeProduit":"tqmT","boutique":{"id":2,"titre":"King Shop","codeBoutique":"boutiqueYam45","description":"description*****","localisation":{"ville":"Douala","longitude":9.7023,"latitude":4.0505}},"titre":"Iphone XR","prix":170,"quantite":3,"status":"En cours","photo":{"id":2,"src":"http://127.0.0.1:8000/images/produits/produitu87I2.png"}},
 {"idBoutique":4,"codeProduit":"q4Uh","boutique":{"id":4,"titre":"Mokolo Online","codeBoutique":"boutiqueTZiLl","description":"description*****","localisation":{"ville":"Douala","longitude":9.7023,"latitude":4.0505}},"titre":"Android","prix":180000,"quantite":3,"status":"En cours","photo":{"id":3,"src":"http://127.0.0.1:8000/images/produits/produitkzn5v.png"}}]},
 {"etape":"Recuperation boutique","codeCommande":"Com12","date":"2023-01-07 00:00",
 "produits":[
 {"idBoutique":2,"codeProduit":"aIfY","boutique":{"id":2,"titre":"King Shop","codeBoutique":"boutiqueYam45","description":"description*****","localisation":{"ville":"Douala","longitude":9.7023,"latitude":4.0505}},"titre":"Iphone XR","prix":170,"quantite":1,"status":"En cours","photo":{"id":2,"src":"http://127.0.0.1:8000/images/produits/produitu87I2.png"}},
 {"idBoutique":4,"codeProduit":"quur","boutique":{"id":4,"titre":"Mokolo Online","codeBoutique":"boutiqueTZiLl","description":"description*****","localisation":{"ville":"Douala","longitude":9.7023,"latitude":4.0505}},"titre":"Android","prix":180000,"quantite":6,"status":"En cours","photo":{"id":3,"src":"http://127.0.0.1:8000/images/produits/produitkzn5v.png"}},
 {"idBoutique":4,"codeProduit":"tsvQ","boutique":{"id":4,"titre":"Mokolo Online","codeBoutique":"boutiqueTZiLl","description":"description*****","localisation":{"ville":"Douala","longitude":9.7023,"latitude":4.0505}},"titre":"AlCatel","prix":105500,"quantite":1,"status":"En cours","photo":{"id":15,"src":"http://127.0.0.1:8000/images/produits/produit0llgU.jpg"}},
 {"idBoutique":1,"codeProduit":"x4oq","boutique":{"id":1,"titre":"Presta Shop","codeBoutique":"boutiqueopQ0O","description":"as","localisation":{"ville":"Douala","longitude":9.7023,"latitude":4.0505}},"titre":"AndroidW","prix":180000,"quantite":3,"status":"En cours","photo":{"id":5,"src":"http://127.0.0.1:8000/images/produits/produitFHmAD.png"}},
 {"idBoutique":1,"codeProduit":"Anqa","boutique":{"id":1,"titre":"Presta Shop","codeBoutique":"boutiqueopQ0O","description":"as","localisation":{"ville":"Douala","longitude":9.7023,"latitude":4.0505}},"titre":"Techno","prix":85500,"quantite":20,"status":"En cours","photo":{"id":16,"src":"http://127.0.0.1:8000/images/produits/produitHrQl4.png"}}]}]}